#published{padding:20px;background:#fff;border:1px solid #666;}
.publishedModel{position:relative;padding:5px 10px;border-top:1px dashed #c9c9c9;}.publishedModel a.delete{display:none;position:absolute;top:5px;right:5px;width:25px;height:25px;box-sizing:border-box;padding:5px;font-size:1em;color:#aaa;}.publishedModel a.delete:hover{cursor:pointer;}
.publishedModel:hover{background:#e8e8e8;}.publishedModel:hover a.delete{display:block;}
