div#header{position:fixed;top:0;width:100%;height:60px;color:#fff;background:rgba(10, 10, 10, 0.95);box-shadow:0 2px 5px rgba(0, 0, 0, 0.15);transition:all .3s;z-index:20;}div#header div.logo img{height:26px;}
div#header div.logo span{font-size:20px;line-height:60px;}div#header div.logo span small{font-size:60%;}
div#header.hiddenStyle{border-bottom:1px solid rgba(255, 255, 255, 0.23);background-color:transparent;box-shadow:none;color:#fff;}
div#header:hover{color:#eee;background:rgba(10, 10, 10, 0.95);box-shadow:0 2px 5px rgba(0, 0, 0, 0.15);border-bottom:0px;}
