<div class="expander">
	<div class="title">属性名称</div>
	<div class="body">
		<div class="aSwitch">
			开关在此	<div class='switch'></div>
		</div>
		<div class="content">
			<!-- 真正调节的东西在这里面 -->
			<div class="aSectionRow">
				<div class="percent15"></div>
				<div class="percent65"></div>
				<div class="percent20"></div>
			</div>
			<div class="disableCover"></div>
		</div>
	</div>
</div>

<!-- 控件 -->
<div class="imgControl">
	<img src="test.png">
	<div class="popPanel">
		这是面板
	</div>
</div>